# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.npy

# Models & checkpoints
*.h5
*.ckpt
*.weights

# Virtual environments
.env/
.venv/
env/
venv/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db
